/*---------------------------------------- Body*/
body{
    font-family: 'Mallanna', sans-serif;
    color: cornsilk;
    background: url("../../assets/images/starry_sky.png") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-attachment: fixed;
    min-height: 100vh;
}

/*---------------------------------------- Buttons*/
.btn{
    font-family: 'Over the Rainbow', cursive;
    background-color: #02222f;
    color: cornsilk;
    border: cornsilk 2px solid;
}

.btn-listen{
    width: 130px;
    text-align: center
    margin-top  15px;
}


/*---------------------------------------- Navbar*/
.navbar-brand{
    font-family: 'Over the Rainbow', cursive;
}

.navbar{
    background-color: #02222f;
}

.nav-link{
    color: cornsilk;
}


/*---------------------------------------- Jumbotron*/
.jumbotron{
    padding-top: 100px;
}

.jumbotron-music{
    padding-bottom: 8px;
}

.jumbo-head{
    font-family: 'Over the Rainbow', cursive;
    padding-bottom: 35px;
}

.jumbo-sub-head{
    font-family: 'Over the Rainbow', cursive;
}


/*---------------------------------------- Cards*/
.card{
    border: 1.5px solid cornsilk;

}

.card-img-top{
    height: 275px;
}

.card-title{
    font-family: 'Over the Rainbow', cursive;
    text-decoration: underline;
}

.card-body{
    background-color: #02222f;
    text-align: center;
    border-top: solid 2px cornsilk;
    height: 305px;
}

.card-text{
    text-align: justify;
    height: 170px;
}

/*---------------------------------------- Footer*/
.footer-social{
    display: flex;
    list-style: none;
    justify-content: center;
}

.social-link{
    color: cornsilk;
}

.footer-text{
    color: cornsilk;
    text-align: center;
}