/*---------------------------------------- Body*/
body{
    font-family: 'Mallanna', sans-serif;
    color: cornsilk;
    background: url("../../assets/images/starry_sky.png") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-attachment: fixed;
    min-height: 100vh;
}

/*---------------------------------------- Buttons*/
.btn-cta{
    font-family: 'Over the Rainbow', cursive;
    background-color: #02222f;
    border: cornsilk 2px solid;
}


/*---------------------------------------- Navbar*/
.navbar{
    background-color: #02222f;
}

.nav-link{
    color: cornsilk;
}


/*---------------------------------------- Jumbotron*/
.jumbotron{
    padding-top: 100px;
    padding-bottom: 125px;
}

h1{
    font-family: 'Over the Rainbow', cursive;
    padding-bottom: 35px;
}


/*---------------------------------------- Footer*/
.footer-social{
    display: flex;
    list-style: none;
    justify-content: center;
}

.social-link{
    color: cornsilk;
}

.footer-text{
    color: cornsilk;
    text-align: center;
}